# Réseau de neurones
Nous allons, illustrer notre exemple de réseau de neurone sur une datase qui consiste predire si un étudiant va terminer ou pas 
ses études en nous basant sur certains critères

## Importation des packages

In [1]:
import matplotlib as mpl
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.impute import SimpleImputer
from sklearn.model_selection import train_test_split
import pandas as pd
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

## Création de la dataset

In [2]:
df = pd.read_csv('./../data/StudentsPerformance.csv')
df.head(2)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88

## Data preprocessing

In [3]:
df.describe()

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

In [4]:
import numpy as np
for col in df.columns:
    messing_val = 0
    for v in df[col]:
        if v == np.nan:
            messing_val += 1
    print(f'la colonne **{col}** à {messing_val} donnée(s) manquante(s)')

la colonne **gender** à 0 donnée(s) manquante(s)
la colonne **race/ethnicity** à 0 donnée(s) manquante(s)
la colonne **parental level of education** à 0 donnée(s) manquante(s)
la colonne **lunch** à 0 donnée(s) manquante(s)
la colonne **test preparation course** à 0 donnée(s) manquante(s)
la colonne **math score** à 0 donnée(s) manquante(s)
la colonne **reading score** à 0 donnée(s) manquante(s)
la colonne **writing score** à 0 donnée(s) manquante(s)

In [5]:
df.head(3)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93

In [19]:
## Le rôle de cette methode est de transformer les variables catégorielles en variable numériques, les standardisées et 
## les retourner
def data_preprocessing(df=df):
    labelEncoder = LabelEncoder()
    standardScaler = StandardScaler()
    target = []
    result = df.copy()
    data = df.copy()
    resulat_value = []
    for i in range(0, 5):
        try:
            # Transformation des variable catégorielle en variable nuémerique
            data.iloc[:, i] = labelEncoder.fit_transform(data.iloc[:, i])
            # suppression de la colonne **test preparation course**
            data.drop(['test preparation course'], axis=1, inplace=True)
        except KeyError:
            pass
    [resulat_value.append(df.iloc[:, 4][i]) for i in range(1, 3) ]
    result.iloc[:, 4] = labelEncoder.fit_transform(result.iloc[:, 4])
    target = result.iloc[:, 4]
    # Standardisation
    data = standardScaler.fit_transform(data)
    return data, target, resulat_value

In [20]:
X, y, r = data_preprocessing()

In [21]:
r

['completed', 'none']

In [35]:
np.reshape(y, (1000, 1))
# print(f'Nous avons {X.shape[1]} variable(s) indépendante(s) et {y.shape}')

ValueError: cannot reshape array of size 1000 into shape (1,1)